# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#UI Autosaves
*.ui.autosave

# user QtCreator project files
*.pro.user

# compiled doc
doc/

#Sound files (for the moment)
*.wav

#Compile directories and Makefiles
debug/
release/
Makefile*

#generated UI files (for the moment ?)
ui_*.h

#Microsoft Word files
*.doc
*.docx